* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --link-backgroundImage: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");

  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-black);
  background-image: var(--link-backgroundImage);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  text-align: center;
}

.app {
  color: var(--color-white);
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 4rem;
}

.logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
}